body
{
	margin: 0;
	padding: 0;
	background: #262626;
	width: 100%;
	font-size: 16pt;
}

#page
{
	width: 90%;
	margin-top: -30px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	font: normal 0.75em Verdana,Helvetica,sans-serif; /* 12pt/16pt */
}

#header
{
}

#username
{
	font-size: 1.3em; /* 15.6pt/12pt */ 
	color: #0978C1;
	text-align: center;
	text-decoration: underline;
	padding-top: 0;
}

#connectwidget
{
	float: right;
	max-width: 15%;
	padding: 2%;
	font-size: 0.666666667em; /* 12pt/16pt */
	font-style: italic;
	text-transform: uppercase;
	color: white;
	text-align: center;
	background: #075F96;
	border: 1px dotted white;
}

#summaryflag
{
	float: left;
	max-width: 20%;
	height: 150px;
	margin-bottom: -30px;
	padding: 2%;
	font-size: 0.666666667em; /* 12pt/16pt */
	font-style: italic;
	color: white;
	text-align: center;
	background: #075F96;
	border: 1px dotted white;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 2em;
}

#mainmenu
{
	background: black;
	clear: both;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

a
{
	color: #0978C1;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.posts
{
	float: left;
}

.post
{
	background: white;
	margin: 2% auto;
	padding: 2%;
}

.posttitle
{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.111111111em; /* 13.3333333pt/12pt */
}

.tagline
{
	text-align: center;
	font-style: italic;
	font-size: .6666666667em; /* 8pt/12pt */
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

